.main-layout {
  display: flex;
  height: 100vh;
  background-color:#533285;
  app-sidebar {
    flex-shrink: 0;
    transition: width 0.3s ease;
  }

  .content {
    flex: 1;
    background-color: #f9f9f9;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
    
  }
}
